:root{
    --black: #2b2a2c;
    --gray: #a2a1a3;
    --grayLight: #dedede;
    --white: #ffffff;
}
body{
    margin: 0;
    font-family:  'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;


}
p{
    margin: 0 0 1rem;
 }

 *,
 *:before,
 *:after{
     box-sizing: border-box;
          
 }

 .container{
     width: 100%;
     max-width: 1200px;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     margin: 0 auto;
 }

 .header{
     padding: 1rem 0;
     position: relative;
 }
 .header_inner{
     display: flex;
     justify-content: spa;
     align-items: center;

 }
 .user{
     display: flex;
 }
 .user_content{
     padding-left: 9px;
 }
 .user_name{
     font-size: 1rem;
     color:var(--black);
     font-weight: bold;
 }
 .user_prof{
     font-size: 0.95rem;
     color:var(--black) ;
     opacity: 0.8;

 }
 .nav{
     display: flex;
     align-items: center;
     padding-left: 32rem;
     
 }
 .navl{
     margin-left: 2rem;
     position: relative;
     font-size: 0.9rem;
     color: black;
     font-weight: bold;
     text-decoration: none;
     
    
 }
 .navl:hover{
     border-bottom: 2px solid black;
     
     
 }
 .aboutme_inner{
     display: flex;
     padding-top: 7rem;
     padding-bottom: 1rem;
     position: relative;

     border-bottom: 1px solid black;;
      
      }
      .aboutme_h2{
          font-size: 2rem;

      }
 .aboutme_h1{
     font-weight: bold;
     font-size: 2.8rem;
     margin-bottom: 5px;
     
     
 }
 .aboutme_text{
     opacity: 0.6;
     font-size: 1.5rem;
 }
 .social{
    margin-top: 1rem;
     display: flex;

 }
 .social_link{
     text-decoration: none;
     margin-right: 0.75rem;
     
 }
 .social_link:hover{
    perspective: -6px;
    margin-top: 6px;
 }
 .button{
     display: inline-block;
     vertical-align: top;
     width: 13rem;
     max-width: 200px;
     text-align: center;
     background: rgba(--grayLight);
     border: 2px solid black;
     border-radius: 10px 0px;
     cursor: pointer;
     padding: 0.8rem ;
     font-size: 1.4rem;
     color: var(--black);
     text-decoration: none
              
 }
 .button:hover{
     background: black;
     color:white;
 }
 .i{
     right: 0;
     z-index: 1;
     padding-left: 4.5rem;


 }
 .tech_stack{
     margin-top: 2rem;
 }
 .text_center{
     text-align: center;
     text-transform: uppercase;
     font-size: 2rem;
 }
 .about_iner{
    display: flex;
    flex-wrap: wrap;

}
 .about_photo{
        max-width: 60%;
 }
 .about_content{
     margin-left: 46rem;
     
 }
 .about_content{
     position: relative;
     margin-top: -25rem;
     
     
 }
 .about_tittle{
     font-size: 2.8rem;
     font-weight: bold;
     color: var(--black);
     text-transform: uppercase;
 }
 .about_btittle{
     font-size: 5rem;
     font-weight: bold;
     color: var(--grayLight);
     text-transform: uppercase;
 }
 .about_text{
     margin-top: 1rem;
     font-size: 1.10rem;

     font-weight: 300;
     color:dimgrey;
         
 }
 .about_iner{
     border-bottom: 1px solid black;
 }
 .about_iner{
     padding-bottom: 1rem; 
 }
 .project{
     margin-bottom: 8rem;
 }
 .my_project{
     margin-top: 3rem;
     text-align: center;
     font-size: 2rem;
     font-weight: bold;
     color: var(--black);
     text-transform: uppercase;

 }
 .all_project{
     display: flex;
     flex-wrap: wrap;
     margin-top: 3rem;
 }
 .three_project{
     margin-left: 4rem;
     overflow: hidden;
     box-shadow: 0 0 4px black;
     border-radius: 10px;
 }
 .two_project{
     margin-left: 4rem;
     overflow: hidden;
     box-shadow: 0 0 4px black;
     border-radius: 10px;
 }
 .one_project{
     overflow: hidden;
     box-shadow: 0 0 4px black;
     border-radius: 10px;
 }
 .one_project:hover{
    box-shadow: 0  0 40px black;
     
 }
 .two_project:hover{
    box-shadow: 0  0 40px black;
     
 }
 .three_project:hover{
    box-shadow: 0  0 40px black;
     
 }
 .footer{
     padding: 1rem 0;
     background-color: var(--black);

 }
 .footer_copyright{
     font-size: 0.9rem;
     color: var(--white);
 }
 




 
 


